body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
    color: #000000;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.cell {
    margin-bottom: 20px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

body.dark-mode .cell {
    border: 1px solid #444;
    background-color: #1e1e1e;
}

.cell a {
    text-decoration: none;
    color: #007bff;
}

body.dark-mode .cell a {
    color: #66aaff;
}

#dark-mode-toggle {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
}

body.dark-mode #dark-mode-toggle {
    background-color: #444;
    color: #ddd;
}

.footer-link {
  font-size: 0.8em;
  color: #666;
  text-decoration: none;
}

body.dark-mode .footer-link {
  color: #aaa;
}

@font-face {
    font-family: 'Product Sans';
    src: url('../fonts/ProductSans.woff2') format('woff2'),
         url('../fonts/ProductSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}